@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap");
/* GENERAL SETTING */
body {
  font-family: "Outfit", sans-serif;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  font-weight: 600;
  text-align: left;
  font-size: 80px;
  margin: 2% 1 1% 0;
  padding-left: 4%;
  padding-top: 4%;
}
.bolder {
  font-weight: bolder;
  padding-top: 0;
  font-size: 85px;
}
h3 {
  color: rgb(230, 17, 230);
  text-align: left;
  font-weight: 400;
  font-size: 2rem;
  margin: 2% 0 1% 0;
  padding-left: 4%;
  font-weight: bolder;
}
h2 {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  margin: 2% 0 1% 0;
}

p {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}


/* HEADER */

header img {
  width: 15%;
  margin: 3% 0 0 5%;
}

/* MAIN */
.p2{
    color: white;
    padding-left: 4%;
    
}
.p3{
    color: white;
    padding-left: 4%;
    padding-top: 0.5%;
}
#rating {
  display: flex;
  margin: 3% auto;
}

.butt {
  text-align: right;
  padding-right: 20%;
  padding-bottom: 20%;
}
 button {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  
} 
button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 25px 5px #00ffff;
  transition: 0.7s;
  background-color: #00ffff;
  border: none;
  color: black;
}
ul {
  color: white;
  list-style: inside;
  padding-left: 5%;
  padding-top: 4%;
}
li {
  padding-top: 1%;
}
#inp {
  font-size: larger;
  padding-right: 67%;
  padding-top: 6%;
  color: white;
}

/* Style FEEDBACK */



#pfeedback p {
    margin: 20px 25%;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 2.2rem;
}

.container4 {
    text-align: center;
    align-items: center;
    margin: 0px 26% 103px;
    padding: 42px 11px;
}
.pfeedback {
  margin: 20px 270px;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

.container4 {
  text-align: center;
  text-align: center;
  margin: 62px 0px;

}

.container4 .rating input {
  display: none;
}

.rating label {

    font-size: 70px;
    color: #100c31;
    margin: 5px;
    transition: all 0.2s ease;
   float: right;

  font-size: 70px;

}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: rgb(0, 255, 255);
}
input:checked ~ label{
    color: rgb(0, 255, 255);
} 
input#rate-9:checked ~ label {
    color: rgb(0, 255, 255);
}



.stelle {
  color: white;
  text-align: center;
  margin: 100px;
}


/* RESULT STYLE */

#rating {
  display: flex;
  margin: 3% auto;
  flex-direction: row;
  justify-content: center;
}

#outcome p {
  text-align: center;
  margin: 0;
}

#rating a {
  text-decoration: none;
  color: white;
}

#rating button {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  
}

#rating button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 25px 5px #00ffff;
  transition: 0.7s;
  background-color: #00ffff;
  border: none;
  color: black;
}

/* STILE BOTTONI RISPOSTE */
#benchmark{
  width: 80%;
  margin: 0 auto;
}

#benchmark label {
  display: inline-block;
  width: auto;
  padding: 20px 40px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50px;
  border-image: linear-gradient(180deg, #d20094,#900080) 10;
  
  
  padding: 10px 20px;
  margin: 5%;
}

#benchmark label:hover{
  
  background-color: transparent;
  background: linear-gradient(transparent, transparent) padding-box,
    linear-gradient(180deg, #d20094,#900080) border-box;
  border: 2px solid transparent;
  border-radius: 50px;
}

#benchmark input[type="radio"] {
  display: none;
}

#benchmark input[type="radio"]:checked + label {
  border: solid 2px green;
}

/* FOOTER */

footer {
  text-align: center;
}

hr {
  text-align: center;
  margin: 10px 25%;
  color: #d30fb9;
  border: 1px solid;
}

.coment {
  text-align: center;
  color: white;
  margin: 50px;
}

.inputComent {
  position: relative;
  width: 250px;
  margin: 10px 25%;
}
.inputComent input {
  width: 292%;
  padding: 0px 27px;
  font-size: 18px;
  border: none;
  background: transparent;
  margin-top: 36px;
  outline: none;
  color: #d30fb9;
}
.inputComent span {
  position: absolute;
  left: 0;
}

/* Clock */
.base-timer {
  position: relative;
  height: 300px;
  width: 300px;
}

  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  /* timer color change,   deve avere la stessa forma di Clock*/
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: green;
    stroke-dasharray: 142 283;
  }
  
  .base-timer__svg {
    
    transform: scaleX(-1);
  }