@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h2{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 2% 0 1% 0;
}

p{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

header img{
    width: 15%;
    margin: 3% 0 0 5%;
    
}

#rating{
    display: flex;
    margin: 3% auto;

}

#rating button{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 1% 5%;
    margin: 0 auto;
}

#rating button:hover{
    cursor: pointer;
    box-shadow: 4px 2px 20px 1px #00FFFF;
    background-color: #00FFFF;
    border: none;
    color: black;
}

/* Style FEEDBACK */

p {
    margin: 20px 270px;
}

.stelle {
    color: white;
    text-align: center;
    margin: 100px;
}

button {
    box-shadow: 4px 4px 23px 7px #00FFFF;
    background-color:#00FFFF;
    text-align: center;
    margin: 50px;
    padding: 20px 50px;
    font-weight: 900;
    font-size: 21px;
    cursor: pointer;
}

footer {
    text-align: center;
}

hr {
    text-align: center;
    margin: 10px 25%;
    color: #d30fb9;
    border: 1px solid;
}

.coment {
    text-align: center;
    color: white;
    margin: 50px;
}

.inputComent {
    position: relative;
    width: 250px;
    margin: 10px 25%;
}
.inputComent input {
    width: 292%;
    padding: 0px 27px;
    font-size: 18px;
    border: none;
    background: transparent;
    margin-top: 36px;
    outline: none;

}
.inputComent span {
    position: absolute;
    left: 0;

}
