@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {
    color: white;
    font-weight: 600;
    text-align: left;
    font-size: 80px;
    margin:2% 1 1% 0 ;
    padding-left: 4%;
    padding-top: 4%;
}
.bolder{
    font-weight: bolder;
    padding-top: 0;
    font-size: 88px;
}
h3{
    color: rgb(230, 17, 230);
    text-align: left;
    font-weight: 400;
    font-size: 2rem;
    margin: 2% 0 1% 0;
    padding-left: 4%;
    font-weight: bolder;
}
h2{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    margin: 2% 0 1% 0;
}

p{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    padding-left: 4%;
    padding-top: 0.5%;

}

header img{
    width: 15%;
    margin: 3% 0 0 5%;
    
}

#rating{
    display: flex;
    margin: 3% auto;

}

/*#rating button{
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 1% 5%;
    margin: 0 auto;
}

#rating button:hover{
    cursor: pointer;
    box-shadow: 4px 2px 20px 1px #00FFFF;
    background-color: #00FFFF;
    border: none;
    color: black; 
} */

.butt  {
    text-align: right;
    padding-right: 20%;
    padding-top: 0%;
    
    

}
button { background-color: #00FFFF;
    
     border-color: #00FFFF;
   padding: 5px 5px;
    border-width: 15px;
    font-family: 'Outfit', sans-serif; 
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
    

}
button:hover{ 
    box-shadow: 4px 2px 20px 1px #00FFFF;
    background-color: #00FFFF;
    transition: 0.7s;
   
    
}
ul {
    color: white;
    list-style: inside;
    padding-left: 5%;
    padding-top: 4%;
    
}
li{
padding-top: 1%;
}
#inp {
    font-size: larger;
    padding-left: 4%;
    padding-top: 4% ;
    color: white;
    

}